---
type Props = {
  title: string;
  createdAt: Date;
  updatedAt: Date;
  category: string;
  tags: string[];
};

const { title, createdAt, updatedAt, category, tags } = Astro.props;
---

<div class="container">
  <h2 class="title">{title}</h2>

  <p class="date">
    <time datetime={createdAt.toLocaleDateString()}>
      作成日:{createdAt.toLocaleDateString()}
    </time>
    <time datetime={updatedAt.toLocaleDateString()}>
      更新日:{updatedAt.toLocaleDateString()}
    </time>
  </p>

  <p class="category">
    カテゴリー:<a href={`/portfolio/posts/category/${category}`}>
      {category}
    </a>
  </p>

  <ul class="tags">
    <p>タグ一覧</p>
    <div class="items">
      {
        tags.map((tag) => (
          <li>
            <a href={`/portfolio/posts/tag/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </div>
  </ul>
</div>

<style lang="scss">
  .container {
    padding: 5rem 1rem;
    color: map-get($colors, 'white');
    text-align: center;
    background-color: rgba(map-get($colors, 'black'), 0.7);
    @media screen and (width <= 768px) {
      padding: 3rem 1rem;
    }
  }

  .title {
    font-size: 1.5rem;
    @media screen and (width <= 768px) {
      font-size: 1rem;
    }
  }

  .date {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 0.5rem;
    font-size: 0.75rem;
  }

  .category {
    margin: 0.5rem;
    font-size: 0.875rem;
  }

  .tags {
    max-width: 300px;
    margin: 0.5rem auto;
    font-size: 0.875rem;

    .items {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
      justify-content: center;
    }
  }

  a {
    color: map-get($colors, 'white');
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
</style>
